<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ink Touch - Large Format Printing</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <!-- Favicon -->
    <link href="../../img/ink.jpg" rel="icon" />

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Icon Font Stylesheet -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"
      rel="stylesheet"
    />

    <!-- Libraries Stylesheet -->
    <link
      href="../../lib/owlcarousel/assets/owl.carousel.min.css"
      rel="stylesheet"
    />
    <link
      href="../../lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css"
      rel="stylesheet"
    />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet" />

    <!-- Template Stylesheet -->
    <link href="../../css/style.css" rel="stylesheet" />
    <link href="../../css/form.css" rel="stylesheet" />
    <link href="../../css/viewBtn.css" rel="stylesheet" />
  </head>

  <body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
      <%- include (`../partials/adminHeader`); -%>

      <!-- Content Start -->
      <div class="content">
        <!-- Navbar Start -->
        <%- include (`../partials/adminNav`); -%>
        <!-- Navbar End -->

        <!-- Report start -->

        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="container">
              <header>Operator Report</header>
              <div class="row">
                <div class="card">
                  <div class="card-body">
                    <div class="tab-content">
                      <div
                        class="tab-pane active p-3"
                        id="home"
                        role="tabpanel"
                      >
                        <div class="form-group">
                          <div class="row">
                            <label class="col-sm-3 control-label"
                              >Operators</label
                            >
                            <div class="col-sm-9">
                              <select name="operator" class="form-control">
                                <option></option>
                                <option>Available Materials</option>
                                <option>Materials Used</option>
                                <option>Materials Wasted</option>
                                <option>Materials Returned</option>
                              </select>
                            </div>
                          </div>
                        </div>

                        <center>
                          <div
                            class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12 mb-2"
                          >
                            <label for="validationCustomUsername"></label>
                            <div class="input-group">
                              <div class="input-group-prepend"></div>

                              <button
                                class="btn btn-primary"
                                style="width: 50%"
                                id="searchBtn"
                              >
                                Search
                              </button>
                            </div>
                          </div>
                        </center>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- Report start -->

        <!-- Report result start -->
        <div class="container-fluid pt-4 px-4">
          <div class="bg-light text-center rounded p-4">
            <div class="container">
              <header>Operator Report Result</header>
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table
                          id="datatable-buttons"
                          class="table table-striped table-bordered dt-responsive nowrap"
                          style="width: 100%"
                        >
                          <h5>FLEX</h5>

                          <thead>
                            <tr>
                              <th>3 FT</th>
                              <th>4 FT</th>
                              <th>5 FT</th>
                              <th>6 FT</th>
                              <th>7 FT</th>
                              <th>8 FT</th>
                              <th>10 FT</th>
                              <th>Blacklit 10 FT</th>
                              <th>Mesh 10 FT</th>
                              <th>Relf Flex 10 FT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>45</td>
                              <td>78</td>
                              <td>98</td>
                              <td>74</td>
                              <td>43</td>
                              <td>82</td>
                              <td>56</td>
                              <td>43</td>
                              <td>82</td>
                              <td>56</td>
                            </tr>
                          </tbody>
                        </table>
                        <p></p>
                        <table
                          id="datatable-buttons"
                          class="table table-striped table-bordered dt-responsive nowrap"
                          style="width: 100%"
                        >
                          <h5>SAV</h5>

                          <thead>
                            <tr>
                              <th>4 FT</th>
                              <th>5 FT</th>
                              <th>4_5 FT</th>
                              <th>Relf Sav 4_5 FT</th>
                              <th>PVC</th>
                              <th>Clear Sticker 4_5 FT</th>
                              <th>Paper 3 FT</th>
                              <th>Paper 4 FT</th>
                              <th>Paper 5 FT</th>
                              <th>Fabric 4 FT</th>
                              <th>Fabric 5 FT</th>
                            </tr>
                          </thead>
                          <tbody>
                            <td>45</td>
                            <td>78</td>
                            <td>98</td>
                            <td>74</td>
                            <td>43</td>
                            <td>82</td>
                            <td>56</td>
                            <td>43</td>
                            <td>82</td>
                            <td>56</td>
                            <td>56</td>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- report result end -->

        <!-- Footer Start -->
        <%- include (`../partials/adminFooter`); -%>
        <!-- Footer End -->
      </div>
      <!-- Content End -->

      <!-- Back to Top -->
      <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
        ><i class="bi bi-arrow-up"></i
      ></a>
    </div>
    <script src="../../mail/material-report.js"></script>
  </body>
</html>
