<!DOCTYPE html>
<html lang="en">


<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Ink-Touch - Large Format Printing</title>

     <link rel="shortcut icon" href="img/ink.jpg" type="image/x-icon">

     <link rel="stylesheet" href="assets/css/bootstrap.min.css">
     <link rel="stylesheet" href="assets/css/fontawesome.css">
     <link rel="stylesheet" href="assets/css/magnific-popup.css">
     <link rel="stylesheet" href="assets/css/nice-select.css">
     <link rel="stylesheet" href="assets/css/slick-slider.css">
     <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
     <link rel="stylesheet" href="assets/css/aos.css">
     <link rel="stylesheet" href="../../unpkg.com/swiper%4011.1.12/swiper-bundle.min.css">
     <link rel="stylesheet" href="assets/css/mobile-menu.css">
     <link rel="stylesheet" href="assets/css/main.css">

     <script src="assets/js/jquery-3-7-1.min.js"></script>
</head>
<body class="body body2">

	<div class="preloader preloader2">
		<div class="loading-container">
			<div class="loading loading2"></div>
			<div id="loading-icon"><img src="img/fav1.png" alt=""></div>
		</div>
	</div>

<div class="paginacontainer"> 

</div> 


    <header>
     <div class="header-area header-area2 header-area-all d-none d-lg-block" id="header">
       <div class="container">
         <div class="row">
           <div class="col-12">
             <div class="header-elements">
               <div class="site-logo">

               </div>


               <div class="header2-buttons">
                    <div class="button">
                        <a href="/auth/login" class="btn_theme btn_theme_active mt_40 wow fadeInDown" data-wow-duration="0.8s">Login Area<i class="fa-solid fa-arrow-right"></i><span></span></a>
                    </div>
               </div>

             </div>
           </div>
         </div>
       </div>
     </div>
   </header>

          <div class="mobile-header mobile-header2 mobile-header-main d-block d-lg-none ">
            <div class="container-fluid">
              <div class="col-12">
                <div class="mobile-header-elements">
                  <div class="mobile-logo">

                  </div>
                  <div class="mobile-nav-icon">
                    <i class="fa-duotone fa-bars-staggered"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div class="mobile-sidebar mobile-sidebar2 d-block d-lg-none">
            <div class="logo-m">
              <a href="/index"><img src="img/logo.png" alt=""></a>
            </div>
            <div class="menu-close">
              <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="mobile-nav">
        
              <ul>
                
      
              </ul>
              
              <div class="mobile-button">
                <a href="/auth/login" class="btn_theme btn_theme_active mt_40 wow fadeInDown" data-wow-duration="0.8s">Login Area <i class="fa-solid fa-arrow-right"></i><span></span></a>
              </div>
    
              
    
            </div>
          </div>
    

          <div class="hero-area2" style="background-image: url(img/hero2-bg.png);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6">
                        <div class="main-heading">
                            <span class="span" data-aos="fade-right" data-aos-duration="700">We Set The Pace, Others Follows</span>
                            <h1 data-aos="fade-right" data-aos-duration="900">Large Format Printing With Perfection <span class="after">INK-TOUCH</span></h1>
                            <div class="space16"></div>
                            <p data-aos="fade-right" data-aos-duration="1100">At Ink Touch, We make Excellence and Perfection our Watchword...</p>
                            <div class="space30"></div>
             
                        </div>
                    </div>

                    <div class="col-lg-6">
                      
                          <img src="img/hero1.png" alt="">
                        

                      </div>
                    </div>
                </div>
            </div>
  
          </div>

                <div class="footer2 _relative">
                  

                  <div class="copyright-area _relative">
                    <div class="container">
                      <div class="row">
                        <div class="col-md-12 text-center">
                             <div class="coppyright">
                               <p>Copyright © 2024 Ink Touch. All rights reserved.</p>
                             </div>
                        </div>
                   </div>
                  </div>
                    
               </div>
      
            </div>

     <script src="assets/js/bootstrap.min.js"></script>
     <script src="assets/js/aos.js"></script>
     <script src="assets/js/fontawesome.js"></script>
     <script src="assets/js/mobile-menu.js"></script>
     <script src="assets/js/jquery.magnific-popup.js"></script>
     <script src="assets/js/owl.carousel.min.js"></script>
     <script src="assets/js/jquery.countup.js"></script>
     <script src="assets/js/slick-slider.js"></script>
     <script src="assets/js/gsap.min.js"></script>
     <script src="assets/js/jquery.nice-select.js"></script>
     <script src="assets/js/ScrollTrigger.min.js"></script>
     <script src="assets/js/Splitetext.js"></script>
     <script src="assets/js/SmoothScroll.js"></script>
     <script src="assets/js/text-animation.js"></script>
     <script src="assets/js/switchmode.js"></script>
     <script src="../../cdn.jsdelivr.net/gh/hilios/jQuery.countdown%402.2.0/dist/jquery.countdown.min.js"></script>
     <script src="assets/js/swiper.js"></script>
     <script src="assets/js/jquery.lineProgressbar.js"></script>
     <script src="assets/js/tilt.jquery.js"></script>
     <script src="assets/js/animation.js"></script>
     <script src="assets/js/main.js"></script>


    
</body>

</html>