<!-- Spinner Start -->
<div
  id="spinner"
  class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center"
>
  <div
    class="spinner-border text-primary"
    style="width: 3rem; height: 3rem"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
</div>
<!-- Spinner End -->

<!-- Sidebar Start -->
<div class="sidebar pe-4 pb-3">
  <nav class="navbar bg-light navbar-light">
    <a href="/user/index" class="navbar-brand mx-4 mb-3">
      <h3 class="text-primary"><i class="me-2"></i>Ink Touch</h3>
    </a>
    <div class="d-flex align-items-center ms-4 mb-4">
      <div class="position-relative">
        <label for="profile-picture-input">
          <% if (user && user.image && user.image.imageUrl) { %>
          <img
            class="rounded-circle p-1"
            src="<%= user.image.imageUrl %>"
            alt="Image"
            width="80"
            height="80"
          />
          <% } else { %>
          <div style="position: relative; cursor: pointer">
            <img
              class="rounded-circle p-1 bg-warning"
              style="background-color: #009cff !important"
              src="https://bootdey.com/img/Content/avatar/avatar5.png"
              alt="image"
              width="60"
              height="60"
            />
          </div>
          <% } %>
        </label>

        <input
          type="file"
          name="image"
          id="profile-picture-input"
          style="display: none"
          data-url="/user/uploadUserImage"
        />
      </div>
      <div class="ms-3">
        <h6 class="mb-0"><%-user.name %></h6>
        <span><%-user.role %></span>
      </div>
    </div>
    <div class="navbar-nav w-100">
      <a href="/user/index" class="nav-item nav-link active"
        ><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a
      >

      <a href="/user/request" class="nav-item nav-link"
        ><i class="fa fa-th me-2"></i>Request</a
      >
      <a href="/user/allRequest" class="nav-item nav-link"
        ><i class="fa fa-th me-2"></i>All Request</a
      >
      <a href="/user/wastage" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Wastage</a
      >
      <a href="/user/allWastage" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>All Wastage</a
      >
      <a href="/user/profile" class="nav-item nav-link"
        ><i class="fa fa-keyboard me-2"></i>Log out</a
      >
    </div>
  </nav>
</div>
<!-- Sidebar End -->
