<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
  <a href="/user/index" class="navbar-brand d-flex d-lg-none me-4">
    <h2 class="text-primary mb-0">I-T</h2>
  </a>
  <a href="#" class="sidebar-toggler flex-shrink-0">
    <i class="fa fa-bars"></i>
  </a>
  <div class="navbar-nav align-items-center ms-auto">
    <div class="nav-item dropdown">
      <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <% if (user && user.image && user.image.imageUrl) { %>
        <img
          class="rounded-circle p-1"
          width="50"
          height="50"
          src="<%= user.image.imageUrl %>"
          alt="image"
        />
        <% } else { %>

        <i class="fas fa-user fa-1x text-secondary imageSize"></i>
        <% } %>
        <span class="d-none d-lg-inline-flex"><%-user.name %></span>
      </a>
      <div
        class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0"
      >
        <a href="/user/profile" class="dropdown-item">Settings</a>
      </div>
    </div>
  </div>
</nav>
